In [4]:

import numpy as np
import pandas as pd

# Set the parameters for the exponential growth
initial_value = 1  # Starting value
growth_rate = 0.05  # Growth rate (5%)
time_periods = 25  # Number of periods to simulate

# Generate the time periods
time = np.arange(1, time_periods + 1)

# Exponential growth formula: value = initial_value * e^(growth_rate * time)
values = initial_value * np.exp(growth_rate * time)

# Create the DataFrame
data = pd.DataFrame({
    'Time': time,
    'Value': values
})

# Display the dataset
data

    Time     Value
0      1  1.051271
1      2  1.105171
2      3  1.161834
3      4  1.221403
4      5  1.284025
5      6  1.349859
6      7  1.419068
7      8  1.491825
8      9  1.568312
9     10  1.648721
10    11  1.733253
11    12  1.822119
12    13  1.915541
13    14  2.013753
14    15  2.117000
15    16  2.225541
16    17  2.339647
17    18  2.459603
18    19  2.585710
19    20  2.718282
20    21  2.857651
21    22  3.004166
22    23  3.158193
23    24  3.320117
24    25  3.490343

In [30]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import root_mean_squared_error

p = PolynomialFeatures(2, include_bias=False)
d_t = p.fit_transform(data[["Time"]])

l = LinearRegression(fit_intercept=True)
l.fit(d_t, data['Value'])

l.intercept_, l.coef_

(1.0362568822282283, array([0.03555771, 0.00246149]))